body {/*Overall font-size defined*/
    font-family: Arial, Helvetica;
    font-size:14px;
}

#flowContainer {/*Background image of interactive*/
    position:relative;
    display:block;
    margin:0 auto;
    width:420px;
    height:620px;
    background-repeat:no-repeat;
    background-image: url('../images/poolFlow.png');
}

#treePool {/*tree pool container*/
    background: rgba(151, 255, 0, 0.7);
    box-shadow: 0 0 10px 5px rgba(151, 255, 0, 0.7);
    margin: auto;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    height:114px;
    width: 207px;
    border-radius:50%;
    text-align:center;
}

.treePosition {
    position:absolute;
    top:104px;
    left:0;
    width:418px;
    height: 200px;
    display: block;
    justify-content: center;

}

.soilPosition {
    z-index:1!important;
    position:absolute;
    top:384px;
    left:0;
    width:418px;
    height: 200px;
    display: block;
    justify-content: center;
}

#soilPool {/*soil pool container*/
    z-index:0;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 130px ;
    height:10px;
    padding:65px;
    background: rgb(68, 27, 0);
    border-radius:50%;
    text-align:center;
    box-shadow: 0 0 10px 5px rgb(68, 27, 0);
}

#timeElapsed {/*years container*/
    position:absolute;
    top:25px;
    right:20px;
    text-align:center;
    display: block;
    width: 185px;
    height:35px;
    margin:0 auto 0 auto;
    border: solid 1px #2e5e73;
    border-radius:7px;
    color:#2e5e73;
}


#timeElapsed span {
    display:inline-block;
    float:left;
    padding:10px;
    text-align:left;
}

#year {/*year value span*/
    padding:0 0 0 5px!important;
    float:right!important;
}

#tree/*containers for tree/soil value readouts*/  {
    z-index:20;
    position:absolute;
    left:120px;
    top: 60px;
    background: #367300;
    color:#fff;
    padding:10px;
    border-radius:7px;
    width:23px;
    height:15px;
    border: solid 2px white;
    text-align:center;
}

#soil {
    z-index:20;
    position:absolute;
    left:110px;
    bottom: 50px;
    background: #000000;
    color:#fff;
    padding:10px;
    border-radius:7px;
    height:15px;
    width:23px;
    border: solid 2px white;
    text-align:center;
}


.controlContainer {/*positioning for start/reset buttons*/
    position:absolute;
    bottom: 5px;
    left:0;
    right:0;
    color:#fff;
    padding:10px;
    border-radius:7px;
    text-align:center;
}

.optionHeader {
    margin:20px 0 0 -2px!important;
    color:#fff;
    font-size:11px;
    text-align:left;
    font-weight:bolder;
}

.optionHeaderDark {
    color: #000000;
    font-size:11px;
    text-align:left;
    margin:20px 0!important;
    font-weight:bolder;
}

#flowIncr,
#decompInc {/*button positioning/style*/
    float:left;
    margin:-9px 0 0 4px;
}

#flowIncr {/*button positioning/style*/
}

.flowIncrContain {
    z-index:1000;
    height:51px;
    width:48px;
    font-size:14px;
    position:absolute;
    padding:5px 0;
    top: 20px;
    left:14px;
    right:0;
    text-align:center;
    border-radius:7px;
}

.selectContainDark2 {
   background: #c84c00;
    padding:5px 0;
    margin:7px 0 0 22px;
    border-radius:5px;
    width:48px!important;
    font-weight:bolder;
}

.selectContain {
    background:#63a941;
    padding:13px 0;
    margin:7px 0 0 0;
    border-radius:5px;
    width:48px!important;
}

.selectContainRev {
    background:#63a941;
    padding:4px 0;
    margin:7px 0 5px 0;
    border-radius:5px;
    width:48px!important;
}

.selectContainDark {
    background:#c84c00;
    padding:4px 0;
    margin:7px 0 5px 0;
    border-radius:5px;
    width:48px!important;
}

.dentContain {
    z-index:1000;
    height:45px;
    width:60px;
    font-size:14px;
    position:absolute;
    padding:5px 0;
    bottom: 210px;
    right:50px;
    text-align:center;
    border-radius:7px;

}

.decompContain {
    z-index:1000;
    height:45px;
    width:60px;
    font-size:14px;
    position:absolute;
    padding:5px 0;
    top: 110px;
    left:117px;
    right:0;
    text-align:center;
    border-radius:7px;
}

.uptakeContain  {
    z-index:1000;
    height:45px;
    width:60px;
    font-size:14px;
    position:absolute;
    padding:5px 0;
    top: 406px;
    left:255px;
    right:0;
    text-align:center;
    border-radius:7px;
}

button {/*button styles*/
     font-size:14px!important;
     border-radius:5px;
     padding:5px;
     border:1px solid gray;
 }

button:hover {/*button states*/
    background: #fff;
}

#flowIncrArrow {/*flowIncr line*/
    position:absolute;
    display:none;
    top: 55px;
    left:37px;
    height:427px;
    width:112px;
    border-bottom-left-radius:8px;
    border-left:1px solid #63a941;
    border-bottom:1px solid #63a941;
}

#dentrArrow {
    display:none;
    z-index:0;
    position: absolute;
    top: 102px;
    right: 29px;
    height: 380px;
    width: 110px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid #c84c00;
    border-bottom: 1px solid #c84c00;
}

select {
    border-radius:3px;
}

#arrowRight {
    position: absolute;
    display:none;
    margin: auto;
    top: 0;
    bottom:0;
    left: -12px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 12px solid #63a941;
}


#arrowUp2 {
    display: none;
    position: absolute;
    margin: auto;
    top:90px;
    right:19px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #c84c00;
}

#arrowDown {
    display:none;
    position: absolute;
    margin: auto;
    top: 0;
    right:180px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 15px solid #63a941;
}

#arrowUp {
    display: none;
    position: absolute;
    margin: auto;
    bottom:5px;
    right:19px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 15px solid #c84c00;
}

#uptakeArrow {
    position: absolute;
    border-right: 1px solid #c84c00;
    bottom: -165px;
    right:31px;
    height:170px;
}

#decompArrow {
    display:none;
    position: absolute;
    border-right: 1px solid #63a941;
    top: -170px;
    right:192px;
    height:170px;
}​,

.soilTitle {
    color:#fff;
     position:absolute;
     bottom:95px;
     right:140px;
    z-index:1000;
     font-weight:bolder;
 }

.treeTitle {
    font-weight:bolder;
    z-index:1000;
    position:absolute;
    top:178px;
    left:175px;

}



