body {
    background: rgb(46, 48, 37);
    font-size:14px;
    font-family: Arial, Helvetica;
}

#flowContainer {
    position:relative;
    display:block;
    width:420px;
    height:620px;
    margin: 0 auto;
    background-image: url('../images/poolFlow.png');
    background-repeat:no-repeat;
}

#treePool {
    position:absolute;
    text-align:center;
    display: block;
    height:100px;
    width: 190px ;
    margin:0 auto 0 auto;
    top:175px;
    left:0;
    right:30px;
    background: rgba(151, 255, 0, 0.5);
    border-radius:7px;
}

#soilPool {
    position:absolute;
    text-align:center;
    display: block;
    height:100px;
    width: 190px ;
    margin:0 auto 0 auto;
    top:435px;
    left:0;
    right:30px;
    background: rgba(62, 31, 17, .5);
    border-radius:7px;
}

#timeElapsed {
    position:absolute;
    text-align:center;
    display: block;
    height:35px;
    width: 195px ;
    margin:0 auto 0 auto;
    top:25px;
    right:20px;
    border: solid 1px red;
    border-radius:7px;

}

#timeElapsed span {
    display:inline-block;
    float:left;
    padding:10px;
    text-align:left;
}

#year {
    padding:0 0 0 5px!important;
    float:right!important;
}

#tree,
#soil {
    position:absolute;
    bottom: 10px;
    left:10px;
    background:brown;
    color:#fff;
    padding:10px;
    border-radius:7px;
}


.controlContainer {
    position:absolute;
    bottom: 5px;
    left:0;
    right:0;
    color:#fff;
    padding:10px;
    border-radius:7px;
    text-align:center;
}

#flowIncr {
    font-size:14px;
    position:absolute;
    top: 30px;
    left:10px;
    right:0;
    padding:10px;
    border-radius:7px;
    text-align:center;
}

button {
     font-size:14px!important;
     border-radius:5px;
     padding:5px;
     border:1px solid gray;
 }

button:hover {
    background: #fff;
}

#flowIncrArrow {
    position:absolute;
    top: 55px;
    left:30px;
    height:425px;
    width:60px;
    border-left:2px solid red;
    border-bottom:2px solid red;
}

#flowIncrArrow:after {
    content:'';
    position: absolute;
    border-top: 10px solid transparent;
    border-left: 15px solid red;
    border-bottom: 10px solid transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: 416px;
    left: 50px;
}